a
{
  text-decoration:none;
  font-family:Arial,sans-serif;
  font-size: 16px;
  font-weight:bold;
}

a:link
{
  color:red;
}

a:visited
{
  color:green;
}

a:hover
{
  color:pink;
}

a:active
{
  color:blue;
}